body {
  background-image: url("../images/gplaypattern.png");
  background-color: #cccccc;
}

.jumbotron {
  color: white;
  background-image: url("../images/dark-honeycomb.png");
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

#stats {
  text-align: center;
}

button {
  float: left;
}

#chat {
  text-align: center;
}

#search,
#statistics {
  background-color: #bb141b;
  color: white;
  padding-left: 2%;
}

.navbar-header {
  width: 100%;
}

.btn-dark {
  float: right;
  margin: 1%;
}
