.button {
  margin: 10px;
  padding: 10px;
}

body {
  background-image: url("../images/gplaypattern.png");
  background-color: #cccccc;
}

img {
  height: 400px;
  width: 400px;
}

h3 {
  color: #bb141b;
  size: 100%;
  padding: 1%;
  font-family: "Orbitron", sans-serif;
}

#welcome {
  text-align: center;
  font-size: 400%;
  color: #000080;
  font-family: "Orbitron", sans-serif;
}

#pokepedia {
  color: #000080;
  font-size: 400%;
  padding: 1%;
  font-family: "Orbitron", sans-serif;
  padding-top: 1%;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3465ae;
  box-sizing: border-box;
}

/* Set a style for all buttons */

button {
  background-color: #bb141b;
  color: #ffffff;
}

/* image of egg */
.egggif {
  border-radius: 50%;
  position: relative;
  margin: 24px 0 24px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 5px;
  box-shadow: 2px 3px 5px silver;
}

.navbar-header {
  width: 100%;
}

#logout {
  float: right;
}

.jumbotron {
  background: none;
  text-align: center;
  margin: 0;
}

.rotating-ball {
  display: block;
  margin: auto;
}

#login {
  position: relative;
  left: 70%;
  border-radius: 12px;
  width: 10em;
}

#signup {
  position: relative;
  left: 70%;
  border-radius: 12px;
  width: 10em;
}

.gif-row {
  text-align: center;
}

#ash-gif,
#pikachu-gif {
  height: 75%;
  width: 75%;
}
#chat-heading {
  margin: auto;
}

#create-team {
  font-family: "Orbitron", sans-serif;
}

@media screen and (max-width: 1000px) {
  img {
    height: 50%;
    width: 30%;
  }

  .rotating-ball {
    height: 75%;
    width: 75%;
  }
  .centered {
    height: 15em;
    width: 100%;
  }

  #pokepedia {
    padding-top: 10%;
  }
  .login-buttons {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
  }

  #login {
    position: relative;
    left: 27%;
    border-radius: 12px;
    width: 10em;
  }

  #signup {
    position: relative;
    left: 27%;
    border-radius: 12px;
    width: 10em;
  }
}
